.errors {
  padding-top: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 385px;
  width: 100%;
  overflow-y: hidden;

  .error {
    color: rgb(39, 39, 39);
    background-color: rgba(#ff7d7d, 0.6);
    padding: 0px 15px;
    line-height: 1.25;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
