.container {
  height: calc(100vh - 63px);
  display: grid;
  place-items: center;

  .linker {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--formula-solutions-border-color);
    background-color: var(--formula-solutions-background-color);
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    max-width: 1025px;
    padding: 35px 40px;
    width: 100%;

    .formulas {
      display: flex;
      justify-content: space-between;
      gap: 80px;
    }

    .buttons {
      display: flex;
      width: 100%;
      gap: 50px;
      justify-content: center;
    }
  }
}
