.container {
  height: calc(100vh - 63px);
  display: grid;
  place-items: center;

  .linker {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #eaeaea;
    background-color: #fafafa;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    max-width: 1025px;
    padding: 35px 40px;
    width: 100%;

    .formulas {
      display: flex;
      justify-content: space-between;
      gap: 80px;

      .formula {
        width: 450px;
        height: 500px;
        display: flex;
        flex-direction: column;

        textarea {
          border-radius: 7px;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 10px 15px;
          line-height: 1.25;
          border: 1px solid #eaeaea;
          resize: none;
          font-size: 16px;
        }
      }
    }
  }
}
