.container {
  display: grid;
  place-items: center;

  .linker {
    border-radius: 15px;
    border: 1px solid #eaeaea;
    background-color: #fafafa;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    margin: 57px auto;
    max-width: 57vw;
    padding: 60px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    .header {
      color: #28282b;
      font-weight: 550;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .formulaUpload {
      p {
        color: #28282b;
        margin-top: 20px;
        font-weight: 500;
      }
    }
  }
}
