.editor {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  font-family: "Source Code Pro", monospace;

  .content {
    position: relative;
    flex: 1;
    height: 370px;
    overflow-y: hidden;
  }
}
