.editor {
  position: relative;
  // border-top-right-radius: 7px;
  // border-bottom-right-radius: 7px;
  display: flex;
  margin-bottom: 30px;
  border: 1px solid hsl(0, 0%, 85%);
  font-family: var(--font-source-code-pro);

  .content {
    position: relative;
    flex: 1;
    height: var(--editor-height);
    overflow-y: hidden;
  }

  .controls {
    z-index: 10;
    display: flex;
    height: var(--editor-height);
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: -48px;

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
  }
}
