.container {
  position: relative;

  .edit {
    position: relative;

    .save {
      cursor: pointer;
      position: absolute;
      right: -7px;
      top: -4px;

      color: #686868;

      &:hover {
        color: #000;
      }
    }
  }

  .controls {
    visibility: hidden;
    position: absolute;
    right: -8px;
    top: -12px;

    svg {
      cursor: pointer;

      path {
        fill: #686868;
      }

      &:hover {
        path {
          fill: #000;
        }
      }
    }

    svg:last-of-type {
      margin-left: 4px;
    }

    &:hover {
      visibility: visible;
    }
  }

  .clause {
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;

    &:hover {
      background-color: rgb(235, 235, 235);
    }

    &:hover + div {
      visibility: visible;
    }

    li {
      display: flex;

      span {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}
