.dialog {
  border: 1px solid var(--formula-solutions-border-color);
  border-bottom-width: 3px;
  background-color: var(--formula-solutions-background-color);
  max-width: 240px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 45px 110px;

  h3 {
    color: var(--color-black);
  }
}
