.dialog {
  max-width: 240px;
  width: 100%;
  border-radius: 25px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 45px 110px;

  h3 {
    color: var(--color-black);
  }
}
