@import './normalize.scss';
@import './variables.scss';

body {
  font-family: 'Inter', -apple-system, system-ui, sans-serif;
  background-color: var(--color-white);
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbars {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
