:root {
  --color-black: #28282b;
  --color-green: #22c55e;
  --color-white: #ffffff;
  --color-red: #f43f5e;
  --window-width: 1025px;
  --editor-height: 500px;
  --formula-solutions-font-size: 18px;
  --formula-solutions-background-color: #fafafa;
  --formula-solutions-border-color: #eaeaea;
  --header-border-color: #e9e9e9;
  --font-source-code-pro: 'Source Code Pro', monospace;
}
