.gutter {
  box-sizing: border-box;
  background-color: #1876d2;
  height: 400px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .gutterCell {
    color: white;
    font-size: 16px;
    line-height: 1.25;
    text-align: end;
  }
}
