.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .headerLeft {
    display: flex;
    align-items: center;

    h2 {
      cursor: pointer;
      color: var(--color-black);
    }

    svg {
      margin-left: 10px;
      transition: transform 0.3s ease-in-out;

      path {
        fill: var(--color-black);
      }
    }

    @media (max-width: 630px) {
      h2 {
        font-size: 23px;
      }
    }

    @media (max-width: 590px) {
      h2 {
        font-size: 21px;
      }
    }

    @media (max-width: 590px) {
      h2 {
        font-size: 19px;
      }
    }

    @media (max-width: 500px) {
      h2 {
        font-size: 16px;
      }
    }

    @media (max-width: 450px) {
      h2 {
        font-size: 14px;
      }
    }

    @media (max-width: 450px) {
      h2 {
        font-size: 12px;
      }
    }
  }
}
