.container {
  position: relative;
  display: flex;
  align-items: center;

  .edit {
    position: relative;
    top: -1px;
    display: flex;
    align-items: center;
    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 5px;
    padding: 6px 10px;

    input {
      width: 250px;
      color: var(--color-black);
      border: 0px;
      font-size: 16px;
      background-color: transparent;
    }

    .save {
      cursor: pointer;
      margin-left: 7px;

      color: hsl(0, 0%, 41%);

      &:hover {
        color: hsl(0, 0%, 30%);
      }
    }
  }

  .controls {
    visibility: hidden;
    position: absolute;
    right: -10px;
    top: -12px;

    svg {
      cursor: pointer;

      path {
        fill: hsl(0, 0%, 41%);
      }

      &:hover {
        path {
          fill: hsl(0, 0%, 30%);
        }
      }
    }

    svg:last-of-type {
      margin-left: 4px;
    }

    &:hover {
      visibility: visible;
    }
  }

  .clause {
    display: flex;
    // flex-wrap: wrap;
    border-radius: 7px;

    &:hover {
      background-color: rgb(235, 235, 235);
    }

    &:hover + div {
      visibility: visible;
    }

    li {
      display: flex;

      span {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}
