.header {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: #28282b;
  margin-bottom: 15px;

  h2 {
    cursor: pointer;
    color: #28282b;
  }

  svg {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;

    &.active {
      transform: rotate(180deg);
    }

    path {
      fill: #28282b;
    }
  }
}

.solutions-container {
  margin-bottom: 40px;
  color: #28282b;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  font-size: 17px;
  font-family: "Source Code Pro", monospace;

  .solutions {
    max-height: calc((20px * 7) + 26px);
    line-height: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid #eaeaea;
    border-radius: 7px;
    background-color: #fafafa;
    padding: 13px 33px;
    overflow: auto;
  }

  @media (max-width: 960px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.no-solutions {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #eaeaea;
  border-radius: 7px;
  background-color: #fafafa;

  text-align: center;
  padding: 40px;

  span {
    font-size: 45px;
  }
}

.solution {
  display: flex;

  .equals {
    margin-right: 2px;
    margin-left: 2px;
  }

  .green {
    color: #22c55e;
  }

  .red {
    color: #f43f5e;
  }
}
