.solutions-container {
  margin-bottom: 40px;
  color: #28282b;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  font-size: 18px;
  font-family: "Source Code Pro", monospace;

  @media (max-width: 1390px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 520px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
