.header {
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e9e9e9;

  div {
    display: flex;
    justify-content: space-around;
    padding: 10px 35px;
    background-color: rgba(#fff, 0.98);
    align-items: center;

    h2 {
      display: flex;
      align-items: center;
      color: #28282b;

      span {
        font-size: xx-large;
        margin-left: 10px;
      }
    }

    ul {
      display: flex;
      color: #666666;
      gap: 30px;

      li {
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          color: #28282b;
        }
      }
    }

    @media (max-width: 690px) {
      flex-direction: column;

      ul {
        margin-top: 10px;
      }
    }

    @media (max-width: 470px) {
      h2 {
        font-size: 16px;
      }
    }
  }
}
