.header {
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  div {
    padding: 10px 35px;
    background-color: #71717a;

    h2 {
      display: flex;
      align-items: center;
      color: white;

      span {
        font-size: xx-large;
        margin-left: 10px;
      }
    }
  }
}
