.header {
  display: flex;
  justify-content: center;
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--header-border-color);
  background-color: rgba(#ffffff, 0.92);
  margin-bottom: 35px;

  div {
    box-sizing: border-box;
    height: 62px;
    max-width: var(--window-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;

    h1 {
      font-size: 26px;
      display: flex;
      align-items: center;
      color: var(--color-black);

      span {
        font-size: xx-large;
        margin-left: 10px;
      }
    }

    nav {
      display: flex;
      align-items: center;
      gap: 25px;

      div {
        width: 1px;
        height: 10px;
        background-color: hsl(0, 0%, 85%);
      }

      ul {
        display: flex;
        color: #666666;
        gap: 30px;

        li {
          cursor: pointer;
          transition: color 0.2s ease;

          &:hover {
            color: var(--color-black);
          }
        }
      }
    }

    @media (max-width: 1144px) {
      height: 92px;
      flex-direction: column;

      ul {
        margin-top: 10px;
      }
    }
  }
}
