.formulaContainer {
  margin-bottom: 20px;
  margin-top: 20px;
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--formula-solutions-border-color);
  border-bottom-width: 3px;
  border-radius: 7px;
  background-color: var(--formula-solutions-background-color);

  .formula {
    max-height: calc((31px * 15) + 30px);
    overflow-y: auto;
    border-radius: 15px;
    padding: 20px 20px;
    color: var(--color-black);
    line-height: 31px;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--formula-solutions-font-size);
    font-family: var(--font-second-font);

    li {
      display: flex;

      span {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}
