.header {
  color: #28282b;
}

.formula {
  line-height: 31px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-top: 10px;
  font-size: 19px;

  li {
    display: flex;

    span {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}
