* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", -apple-system, system-ui, sans-serif;
  background-color: #ffffff;
}

.container {
  display: grid;
  place-items: center;

  .content {
    max-width: 900px;
    width: 100%;
    padding: 30px;

    .no-upload {
      font-weight: 600;
      display: flex;
      padding: 110px 0px;
      font-size: 25px;
      align-items: center;
      justify-content: center;

      span {
        margin-left: 12px;
        font-size: 50px;
      }
    }
  }
}
