* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 35px;
  background-color: #fafafa;
  margin-top: 0px;

  .formulaInput {
    margin-bottom: 20px;
  }

  pre {
    margin-top: 25px;
  }
}
