* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 35px;
  background-color: #fafafa;
  margin-top: 0px;

  pre {
    margin-top: 25px;
  }

  .answer {
    display: flex;

    .equals {
      margin-right: 5px;
      margin-left: 5px;
    }

    .green {
      color: #22c55e;
    }

    .red {
      color: #f43f5e;
    }
  }
}
