.noSolutions {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #eaeaea;
  border-radius: 7px;
  background-color: #fafafa;

  text-align: center;
  padding: 40px;

  p {
    color: #28282b;
    font-size: 60px;
  }
}
