.noSolutions {
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--formula-solutions-border-color);
  border-bottom-width: 3px;
  border-radius: 7px;
  background-color: var(--formula-solutions-background-color);

  text-align: center;
  padding: 40px;

  p {
    color: var(--color-black);
    font-size: 60px;
  }
}
