.dialog {
  max-width: 235px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 45px 110px;

  h3 {
    color: #28282b;
  }
}
